.daily-section {
  margin-top: 30px;
  .inner {
    position: relative;
    overflow: hidden;
    overflow-x: scroll;
    width: 95%;
    margin: 0 auto;
    padding: 10px;
    box-sizing: border-box;
    background: rgba($color: #000000, $alpha: 0.2);
    border-radius: 10px;
    color: #fff;
    .daily-container {
      display: inline-flex;
      position: relative;
      ul {
        display: inline-flex;
        li {
          width: 90px;
          box-sizing: border-box;
          text-align: center;
          border-right: 1px dotted #fff;
          b {
            display: block;
            margin: 10px 0;
            font-size: 0.8em;
            border-bottom: 1px dotted rgba($color: #fff, $alpha: 0.3);
            box-sizing: border-box;
            padding: 5px;

            i {
              margin-right: 8px;
            }
          } //b
          img {
            margin: 0 auto;
            width: 50px;
            border-radius: 50%;
          } //img
        } //li
      } //ul
    } //daily-container
  } //inner
} //Daily-section
